.carousel{
    height: 500px !important;
}
.carousel-item{
    height: 100% !important;
}

@media(min-width:1024px){
    .carousel-caption{
        position: absolute;
        right: 0px !important;
        bottom: 20px;
        left: 615px !important;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
    }
    .carrossel__block{
        width:500px;
    }
}
html{scroll-behavior:smooth}
