footer{
    padding: 50px 0 30px 0;
    background-color: #262626;
    h2{
        color: #fff;
        font-family: 'montserrat';
        font-size: 20px;
        margin-bottom: 20px;
    }
    h4{
        color: #fff;
        font-family: 'montserrat';
        font-size: 18px;
    }
    p{
        color: #fff;
        font-family: 'montserrat';
        font-size: 16px;
        font-weight: 300;
    }
    ul{
        list-style: none;
        padding: 0;
        li{
            a{
            color: #fff;
            font-family: 'montserrat';
            font-size: 16px;
            font-weight: 300;
                &:hover{
                    text-decoration: none;
                    color: #fff;
                }
        }
        }
    }
}
.social__container{
    width:60%;
    display: flex;
    justify-content: space-around;
    a{
        span{
            font-size: 20px;
        }
        color: #eeca5a;
        &:hover{
            text-decoration: none;
            color: #fff;
        }
    }
}
@media(max-width:1024px){
    .footer__column{
        align-items: center !important;
        margin-bottom: 20px;
    }
}
.footer__column{
    &::nth-child(1){
        align-items: flex-start !important;
    }
    &::nth-child(2){
        align-items: center !important;
    }
    &::nth-child(3){
        align-items: flex-end !important;
    }
}